doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    title Киноглушитель
    meta(name='description', content='Задание по мультимедиа, Яндекс, ШРИ 2016')
    link(rel='stylesheet' href='css/style.css')
  body(class='app')

    header(class='header')
      .header__logo.header__logo_left
      h1(class='header__title') Киноглушитель
      .header__logo.header__logo_right

    content(class='container')
      -
        const urlList = [
          {
            title: 'видео',
            id: 'video',
            value: 'http://www.kinopoisk.ru/getlink.php?id=284167&type=trailer&link=https://kp.cdn.yandex.net/502838/kinopoisk.ru-Sherlock-284167.mp4'
          }, {
            title: 'аудио',
            id: 'audio',
            value: 'https://upload.wikimedia.org/wikipedia/commons/2/2c/The_Entertainer_-_1902_-_By_Scott_Joplin.ogg'
          }, {
            title: 'субтитры',
            id: 'subs',
            value: 'https://raw.githubusercontent.com/shri-msk-2016/dz-multimedia/master/subs.srt'
          }
        ];

      mixin inputElement(url)
        label= 'Ссылка на ' + url.title + ':'
          input(class='form__input from_input_' + url.id type='url' id=url.id value=url.value)

      form(class='form')
        for url in urlList
          +inputElement(url)
        button(class='form__button' type='submit') Преобразовать

      .player
        input(type='file' class='test')
        video(class='player__video' muted controls)
          source(type='video/mp4' src='video/sherlock.mp4')
        audio(class='player__audio' src='https://upload.wikimedia.org/wikipedia/commons/a/a6/Maple_Leaf_RagQ.ogg')
        canvas(class='player__canvas' id='canvas')
    script(src='js/main.js')
