doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    title Киноглушитель
    meta(name='description', content='Задание по мультимедиа, Яндекс, ШРИ 2016')
    link(rel='stylesheet' href='css/style.css')
  body(class='app')

    header(class='header')
      .header__logo.header__logo_left
      h1(class='header__title') Киноглушитель
      .header__logo.header__logo_right

    content(class='container')
      .player
        input(type='file' class='test')
        video(class='player__video' muted controls)
          source(type='video/mp4' src='video/sherlock.mp4')
        audio(class='player__audio' src='https://upload.wikimedia.org/wikipedia/commons/a/a6/Maple_Leaf_RagQ.ogg')
        canvas(class='player__canvas' id='canvas')
    script(src='js/main.js')
